.item {
    min-height: 20rem;
    min-width: 37rem;
    padding: 20px;
    border: 2px solid rgb(71 85 105);
    background-color: #fff;
    /* #0EA5E9; */
    border-radius: 10px;

}


.innerCarousel {
    display: flex;
    gap: 10px;
}

.carousel {
    cursor: grab;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}