.img {
    width: 300px;
    border-radius: 20px;
    margin-bottom: 94px;
}

.img2 {
    position: absolute;
    right: 160px;
    top: 158px;
    border: 4px solid #fff;
}

.list {
    list-style: none;
    counter-reset: steps;
}

.list li {
    counter-increment: steps;
}

.list li::before {
    content: counter(steps);
    margin-right: 0.5rem;
    margin-top: 4px;
    background: #0891B2;
    color: #fff;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 1.2em;
}

.icons {
    fill: #0891B2;
}